.RegistrationProcessButton {
    padding: 15px 50px;
    background: #3a86ff;
    border: none;
    font-size: 1em;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 50px;
    position: relative;
    left: 500px;
  }
  
  .RegistrationProcessButton:hover,
  .RegistrationProcessButton:active {
    background: #0582bd;
    color: #ece8e8;
  }
  